<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img src="../assets/pipol.jpg">
        <h3>Jalen Relativo</h3>
        <p>Web Developer</p>
        <div class="share">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="buttons"> 
          <a href="#" class="btm">Download cv</a>
          <a href="#" class="btm">Hire me</a>
        </div>
      </div>
      <div class="information">
        <div class="about">
          <h3 class="title">ㅤ</h3>
            <div class="box-container">
            </div>  
        </div>
        <div class="services">
          <h3 class="title">my works</h3>
          <div class="box-container">
            <div class="box">
              <img src="../assets/p2.PNG">
              <h3>Artisanos Coffee</h3>
            </div>
            <div class="box">
              <img src="../assets/p3.PNG">
              <h3>Kicks and Goodies</h3>
            </div>
            <div class="box">
              <img src="../assets/p4.PNG">
              <h3>Homepage</h3>
            </div>
            <div class="box">
              <img src="../assets/web.png">
              <h3>Plungers</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!--<html>
    <header>
        <h3><u>My Collection of Work</u></h3>
    </header>
    <body>
        <div class="card" style="width: 18rem;">
            <img src="../assets/works.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artisanos Coffee</h5>
              <p class="card-text">Just quick visit to our designed website.</p>
              <a href="https://artisanoscoffee.com/" class="btn btn-primary">Click here to subscribe</a>
            </div>
          </div>
    </body>
</html>-->


