<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img src="../assets/pipol.jpg">
        <h3>Jalen Relativo</h3>
        <p>Web Developer</p>
        <div class="share">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="buttons"> 
          <a href="#" class="btm">Download cv</a>
          <a href="#" class="btm">Hire me</a>

        </div>
      </div>
      <div class="information">
        <div class="about">
          <h3 class="title">about me</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="box-container">
              <div class="box">
                <h3> <span>nationality : </span> filipino </h3>
                <h3> <span>birthday : </span> april 24, 2001 </h3>
                <h3> <span>marital status : </span> single </h3>
                <h3> <span>address : </span> Pampanga </h3> 
              </div>
            </div>
        </div>
      </div>

    </div>
  </body>
</html>
<!--<header>
    <h3><u>Personal Data</u></h3> 
  </header>
  <body>
    <div class="Details">
      <p>Name: Jalen Babes Deza Relativo</p>
      <p>Address: 221 San Lorenzo St. Sto. Domingo Angeles City</p>
      <p>Nationality: Filipino</p>
      <p>Marital Status: Single</p>
      <p>Gender: Male</p>
      <p>Birthday: April 24, 2001</p>
      <p>Age: 20</p>
    </div>
    <div>
      <img src="../assets/pipol.jpg">
    </div>
  </body>-->
  