<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      </head>
      <body>
        <div class="container">
          <div class="profile">
            <img src="../assets/pipol.jpg">
            <h3>Jalen Relativo</h3>
            <p>Web Developer</p>
            <div class="share">
              <a href="#" class="fab fa-facebook"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <div class="buttons"> 
              <a href="#" class="btm">Download cv</a>
              <a href="#" class="btm">Hire me</a>
            </div>
          </div>
          <div class="information">
            <div class="about">
              <h3 class="title">ㅤ</h3>
            </div>
            <div class="skills">
                <h3 class="title">skills</h3>
                <label for="exampleFormControlInput1" class="form-label">Building good relationships at all levels</label>
                <p>ㅤ</p>
                <label for="exampleFormControlInput1" class="form-label">Advanced IT skills with profiency in the use of MS Office</label>
                <p>ㅤ</p>
                <label for="exampleFormControlInput1" class="form-label">Organizing and prioritising work-loads</label><br>
                <p>ㅤ</p>
                <label for="exampleFormControlInput1" class="form-label">Knowledge in Backend in HTML</label>
            </div>
          </div>
        </div>
      </body>
</html>
<!--<html>
    <header>
        <h3><u>Education</u></h3>
    </header>
    <body>
        <div class="Skuls">
            <ul><p>2019 - Till Date</p>
                <li>Holy Angel University - Bachelor of Science in Information Technology Major in Web Development</li>
            </ul>
            <ul><p>2017 - 2019</p>
                <li>Senior Highschool - Sto. Domingo Integrated School</li>
            </ul>
            <ul><p>2013 - 2017</p>
                <li>Junior Highschool - Sto. Domingo Integrated School</li>
            </ul>
        </div>
        <div class="skils">
            <h4><u>Skills</u></h4>
            <ul>
                <li>Building good relationships at all levels</li>
                <li>Advanced IT skills with profiency in the use of MS Office</li>
                <li>Organizing and prioritising work-loads</li>
                <li>Knowledge in Backend in HTML</li>
            </ul>
        </div>
    </body>
</html>-->